<div class="tabular">
  <p><%= label_tag :user_ids, l(:label_user_plural) %>
  <%= select_tag 'user_ids[]', options_from_collection_for_select(@users, 'id', 'name'), :multiple => true %>]
  </p>
</div>